* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

header {
  align-items: center;
  background: #F2F2F2;
  display: flex;
  height: 100px;
  justify-content: center;
}

.previous-orders {
  margin: 20px 0;
}

.item-list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
  width: 60%;
}

.item-list div {
  align-items: center;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  width: 300px;
}

img {
  height: 175px;
  padding: 15px;
  width: 175px;
}

.order-history {
  border: 1px solid grey;
  float: left;
  height: 600px;
  margin: 50px 50px 0 0;
  padding: 20px;
  text-align: left;
  width: 15%;
}

.shopping-cart {
  border: 1px solid grey;
  bottom: 725px;
  float: right;
  height: 300px;
  position: relative;
  text-align: center;
  width: 20%;
}

.shopping-cart h3 {
  padding-top: 15px;
}

.cart {
  padding-left: 15px;
  margin: 10px 0;
  text-align: left;
}

.cart div {
  margin: 15px 0;
}

.total-cart-price {
  margin: 10px;
}
